@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: garet;
  src: url("../src/assets/fonts/Garet-Book.otf");
}
@font-face {
  font-family: garet-heavy;
  src: url("../src/assets/fonts/Garet-Heavy.otf");
}
@font-face {
  font-family: roboto-light;
  src: url("../src//assets//fonts//Roboto-BoldItalic.ttf");
}

a.active {
  background-color: #050a30 !important;
  color: white !important;
}
